
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600&family=Nunito:wght@200;300;400;500;600;700;800&display=swap'); */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
a{
  text-decoration: none;
  color: rgb(37, 36, 36);
}

.shadow-box{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.drawer{
  width: 270%;
}
.m-5{
  margin: 15px;
  width: 15rem;
}
.drawer-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  /* padding-left: 2rem;
  padding-right: 2rem; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.nav-container{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.nav-item{
  margin: 1.4rem;
}
.nav-group{
  display: flex;
  justify-content: flex-end;
}

.drawer-item{
  width: 10rem;
}

.drawer-link{
  font-size: 16px;
  font-weight: 700;
}
